.ppoints p{
    font-size: 12px;
    font-weight: 600;
    margin-bottom:0.25em;
    text-align: right;
    padding-right: 18px;
}

.ppoints .generic{
    color: #5fd23d;
}

.ppoints .nuke{
    color: #e83c36;
}

.ppoints .ougi{
    color: #e88433;
}

.ppoints .debuff{
    color: #257fe8;
}

.npoints p{
    font-size: 12px;
    font-weight: 600;
    color: #e82816;
}

.base p{
    font-weight: 600;
    margin-bottom: 0.5em;
}

.buffs p{
    font-size: 8pt;
    margin-bottom: 0.25em;
}

.final p{
    font-weight:600;
    margin-top:0.5em;
    font-size: 15px
}

.finalpts p{
    font-weight: 600;
    font-size: 15px;
    color: rgb(75, 75, 236);
    margin-top:0.5em;
    text-align: right;
    padding-right: 18px;
}